body {
    font-family: Arial, sans-serif;
    background-color: #a1cbf3;
  }
  
  form {
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    background-color: #5592e2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  button[name="btncalcular"] {
    background-color: #1c2429;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[name="btncalcular"]:hover {
    background-color: #5a9cd5;
  }
  